@import '../../../../scss/variables.scss';

$dark-theme-table: (colors: (bg: $dark-2,
        header: $dark-3,
        border: $dark-3,
        color: $yellow),
    top: (color: $light,
        sub: $dark-8));
