@import '../../../scss/variables.scss';

.pagination {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-top: 5px;
    flex-direction: row;
    align-items: flex-start;

    button {
        border: none;
        padding: 5px 9px;
        margin: 2px;
        cursor: pointer;
        color: $dark-5;
        background-color: $dark-3;
        border: solid 1px $dark-5;
        font-size: 1rem;
        text-align: center;

    }


    button:hover,
    .disabled {
        opacity: 0.6;
        border: solid 1px $dark-3;
    }

    .hightlight {
        border: none;
        background-color: $dark-4;

    }

}