@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

// Font family
$main-font: 'Montserrat',
sans-serif;

/// -------- Sizes including padding, margins ------------
$large: 50px;
$medium: 30px;
$small: 15px;
$mini: 5px;
$no-sizing: 0px;

///  -------- Colors  --------
$dark: #000;
$dark-2: lighten(#000, 10%);
$dark-3: lighten(#000, 20%);
$dark-4: lighten(#000, 30%);
$dark-5: lighten(#000, 40%);
$dark-6: lighten(#000, 50%);
$dark-7: lighten(#000, 60%);
$dark-8: lighten(#000, 70%);
$faded: lighten(#000, 90%);
$light: #fff;
$yellow: #FCB500;
$light-yellow:lighten(#FCB500, 10%);
$mid-yellow: lighten(#FCB500, 20%);


///  -------- table  --------
$table-row-height: 40px;



/// -------- typography  --------
$super: 3rem;
$h1: 2rem;
$h2: 1.2rem;
$h3: 1rem;
$span: 0.8rem;
$sub: 0.6rem;

// Mixins
@mixin rounded {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

@mixin super {
    font-weight: 400;
    letter-spacing: 0.2rem;
    font-family: $main-font;
    margin: $no-sizing;
    font-size: $super;

}

@mixin h1 {
    font-weight: 400;
    letter-spacing: 0.2rem;
    font-family: $main-font;
    margin: $no-sizing;
    font-size: $h1;
}

@mixin h2 {
    font-weight: 400;
    letter-spacing: 0.1rem;
    font-family: $main-font;
    margin: $no-sizing;
    font-size: $h2;
}

@mixin h3 {
    font-family: $main-font;
    margin: $no-sizing;
    font-size: $h3;
}

@mixin span {
    font-family: $main-font;
    margin: $no-sizing;
    font-size: $span;

}

@mixin sub {
    font-family: $main-font;
    margin: $no-sizing;
    $font-size: $sub;
}

@mixin ellipsis {
    width: 99%;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin flex-wrap {
    flex-wrap: wrap;
}
